/build/*
/app/build/*
/.gradle/*
/.idea/*
local.properties
testdemos/testdemos.iml
imagedemos/imagedemos.iml
gradledemo/gradledemo.iml
depend1/depend1.iml
app/app.iml
widgetsdemos/widgetsdemos.iml
gdxdemos/gdxdemos.iml
animation/animation.iml
andfixdemo/andfixdemo.iml
librarydemo/librarydemo.iml
snow/snow.iml
.idea/gradle.xml
transitiondemos/transitiondemos.iml
droidutils/droidutils.iml
rxdemos/rxdemos.iml
