<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.juude.droidviews"
    android:versionCode="1"
    android:versionName="1.0"
>
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"/>
    <uses-permission android:name="android.permission.BIND_APPWIDGET"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" /> 
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light"
        android:name="net.juude.droidviews.DroidViewsApplication"
        android:hardwareAccelerated="true"
>
        <activity
            android:name="net.juude.droidviews.DroidViewsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@android:style/Theme.Holo.Light"
            android:name="net.juude.droidviews.CommonActivity"
            android:label="@string/app_name" >
        </activity>

        <receiver android:name="com.juuda.droidmock.mock.MockReceiver" >
            <intent-filter>
                <action android:name="android.mock" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
